body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.jpg'); /* Chemin vers votre image de fond */
    background-size: cover; /* Pour couvrir toute la zone */
    background-position: center; /* Centrer l'image */
}

.container {
    background: rgba(255, 255, 255, 0.9); /* Fond légèrement transparent */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Ajusté pour inclure plus de contenu */
    width: 100%;
    margin: 20px; /* Espacement extérieur pour une meilleure apparence */
}

h1 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
input[type="submit"] {
    width: calc(100% - 22px); /* Ajustement pour le padding et la bordure */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.success-message,
.error-message {
    display: none;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 4px;
}

.success-message {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

.error-message {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

/* Styles spécifiques pour le champ de sélection du pays */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}
